
main {
  width: 100%;
  min-height: 100%;
  display: block;
  box-sizing: inherit;
  position: relative;
}

.spacer {
  width: 100%;
}

.user-menu
{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  min-width: 150px;
  height: 100%;
  margin-right: 16px;
  position: relative;
}

@media screen and (max-width: 650px) {
  .content {
    flex-direction: column;
    width: max-content;
  }
}
