<mat-toolbar color="primary">

  <mat-toolbar-row>
    <a mat-button href="">BookClub</a>
    <mat-menu #booksMenu="matMenu">
      <a mat-menu-item href="/books">View Books</a>
      <a mat-menu-item href="/finished">Finished Books</a>
      <a mat-menu-item href="/all">All Books</a>
      @if (curUser()) {
        <a mat-menu-item href="/book/new">Add Books</a>
      }
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="booksMenu">Books</button>

    <div class="user-menu">

      <mat-menu #userMenu="matMenu">
        @if (curUser() && curUser()?.isAdmin) {
          <button mat-menu-item href="/users">Manage Users</button>
        }
        @if (curUser()) {
          <a mat-menu-item href="/logout">Logout</a>
        } @else {
          <a mat-menu-item href="/login">Login</a>
          <a mat-menu-item href="/register">Register</a>
        }
      </mat-menu>
    </div>
    <button mat-button [matMenuTriggerFor]="userMenu">
      @if (curUser() && !curUser()?.isGuest) {
        {{ curUser()?.username }}
      } @else {
        Guest
      }
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<main class="main">
  <router-outlet/>
</main>
