<div class="vote-content">
@if (authenticated)
{
  @if(userVote)
  {
    @if(userVote.approve)
    {
      <mat-icon style="color:green;">thumb_up_alt</mat-icon>
    }
    @else
    {
      <mat-icon style="color:red;">thumb_down_alt</mat-icon>

    }
    <button on-click="clearVote()" mat-icon-button aria-label="Clear Vote">
      <mat-icon>close</mat-icon>
    </button>
  }
  @else
  {
    <button on-click="vote(true)" mat-icon-button aria-label="Approve Book">
      <mat-icon style="color:green;">thumb_up_alt</mat-icon>
    </button>
    <button on-click="clearVote()" mat-icon-button aria-label="Disapprove Book">
      <mat-icon style="color:red;">thumb_down_alt</mat-icon>
    </button>
  }

}
</div>
