<div class="container">
    <h2>Details for {{bookDetails?.title}}</h2>
  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>{{bookDetails?.title}}</mat-card-title>
        <mat-card-subtitle>{{bookDetails?.author}}</mat-card-subtitle>
        @if(bookDetails?.read == true)
        {
          <mat-card-subtitle>Finished book</mat-card-subtitle>
        }
        @else if (bookDetails?.selected == true)
        {
          <mat-card-subtitle>Book of the Month</mat-card-subtitle>
        }
        @else if(bookDetails && userInfo)
        {
          <app-vote-option bookId="{{bookDetails.id}}"></app-vote-option>
        }
        <mat-divider vertical="vertical"></mat-divider>
        <app-artwork isbn="{{bookDetails?.isbn}}" size="L" title="{{bookDetails?.title}}" ></app-artwork>
      </mat-card-title-group>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      {{bookDetails?.description}}
    </mat-card-content>
    <mat-expansion-panel (opened)="panelOpen(true)" (closed)="panelOpen(false)">
      <mat-expansion-panel-header>
        <mat-panel-title> Comments </mat-panel-title>
      </mat-expansion-panel-header>
      @if(userInfo)
      {
        <app-comment-form (submitted)="refreshComments($event)" bookId="{{bookDetails?.id}}"></app-comment-form>
      }
     @for(comment of comments; track comments)
     {
        <app-comment (deletedPressed)="refreshComments($event)" (updatePressed)="updateComment($event)" [comment]="comment"></app-comment>
     }
      <mat-paginator class="books-paginator"
                     (page)="handlePageEvent($event)"
                     [length]="totalItems"
                     [pageSize]="pageSize"
                     disabled="false"
                     showFirstLastButtons="true"
                     hidePageSize="true"
                     [pageIndex]="page"
                     aria-label="Select page">
      </mat-paginator>
    </mat-expansion-panel>
  </mat-card>
</div>
