<mat-card>
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>{{comment.user.username}}</mat-card-title>
      @if(isOwnerOrAdmin())
      {
        <div style="width:100%"></div>
        <button on-click="update()" mat-icon-button aria-label="Update Comment">
          <mat-icon>edit</mat-icon>
        </button>
        <button on-click="delete()" mat-icon-button aria-label="Delete Comment">
          <mat-icon>close</mat-icon>
        </button>
      }
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    {{comment.text}}
  </mat-card-content>
</mat-card>
