/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/azure-blue.css";

// Customize the entire app. Change :root to your selector if you want to scope the styles.


html, body {
  background: var(--mat-app-background-color);
  height: 100%;
  max-width: 800px;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
